 <div style="background: #efefef; padding: 50px 0px;">


 <div style="margin: 0 auto; margin-top: 20px; display: flex; justify-content: center; align-items: center;">
        <div style="margin: 0 auto;">
            <a href="https://twitter.com/ApexTeks" style="margin-right: 10px; text-decoration: none; color: gray;">
                <img style="height: 20px;" src="https://freepnglogo.com/images/all_img/1707222563twitter-logo-png.png">
            </a>

            <a href="https://instagram.com/apexteks" style="margin-right: 10px; text-decoration: none; color: gray;">
                <img style="height: 20px;" src="https://freepnglogo.com/images/all_img/1715966613instagram-logo-black-and-white-png.png">
            </a>

            <a href="https://www.linkedin.com/company/apexteks" style="text-decoration: none; color: gray;">
                <img style="height: 20px;" src="https://i.pinimg.com/originals/86/32/54/863254f8c36146219554977cc345d584.png">
            </a>
        </div>
</div>

<div>
    <p style="color: gray; text-align: center;">Thanks for choosing ApexTeks<br/>
        <span>&copy; ApexTeks 2024.</span>
    </p>
</div>

 </div>