{{!-- <div style="background-color: #4E79BC; color: white; padding: 10px; text-align: center; margin: 0;"> --}}
<div style="background-color: lightgray; padding: 10px; text-align: center; margin: 0;">
    <p>Thank you for choosing Apexteks!</p>
    <p style="text-decoration: none; color: white;">Problems or questions? <br/> contact our support via email: support@apexteks.com</p>
    <p>&copy; Apexteks 2024.</p>
</div>