
<div style="background: #efefef; display: flex; justify-content: center; align-items: center; width: 600px !important; margin: 0 auto !important;">
    <img style="margin: 0 auto;" src="https://raw.githubusercontent.com/Daniel001-odii/odiiDaniel/main/images/apextek-logo.png">
    {{!-- <img style="height: 80px; margin: 0 auto;" src="https://tech-zone-navy.vercel.app/img/apex-tek.7ef1b18e.svg"> --}}
</div>