
<div style="background: #efefef; padding: 50px 0px; display: flex; justify-content: center; align-items: center; width: 600px !important; margin: 0 auto !important;">
    <img style="height: 80px; margin: 0 auto;" src="https://raw.githubusercontent.com/Daniel001-odii/odiiDaniel/main/images/apextek-logo.png">
</div>