
<div style="display: flex; justify-content: center; width: 600px !important;  align-items-center; margin: 0 auto;">
{{> header}}

<div style="font-family: Arial, sans-serif; line-height: 1.6; padding: 20px;  width: 600px !important; margin: 0 auto;">
  <h3>Hello there!,</h3>
   <p>You have been added as a {{ role }} to the apexteks team, you have the keys to the kingdom in your hands now</p>
   <p>As a {{ role }} in apexteks team, you are able to:</p>
   <ul>
    <li>lorem ipsum dolor sit amet</li>
    <li>lorem ipsum dolor sit amet</li>
    <li>lorem ipsum dolor sit amet</li>
    <li>lorem ipsum dolor sit amet</li>
    <li>lorem ipsum dolor sit amet</li>
    <li>lorem ipsum dolor sit amet</li>
   </ul>
   <p>Your email: {{ email }}</p>
   <p>Your password: {{ password }}</p>
  <strong style="font-weight: bold; border-radius: 10px; color: red">Warning: Any misuse of account will not be tolerated and will result to instant account termination and stripping of priviledges.</strong> </p>

      <p>
        Thanks,<br/>
        The ApexTeks Team
      </p>
    </p>
</div>


{{> footer}}
 
   
</div>
