
<div style="display: flex; justify-content: center; width: 600px !important;  align-items-center; margin: 0 auto;">
{{> header}}

<div style="font-family: Arial, sans-serif; line-height: 1.6; padding: 20px;  width: 600px !important; margin: 0 auto;">
  <p>Hello this is a bulk email!</p>
</div>


{{> footer}}
 
   
</div>
