<div style="display: flex; justify-content: center; width: 600px !important;  align-items-center; margin: 0 auto;">
{{> header}}
<div style="font-family: Arial, sans-serif; line-height: 1.6; padding: 20px;  width: 600px !important; margin: 0 auto;">
    <h1>Hi, {{ lastname }}</h1>
  
    <p>{{ message }}<a href="http://apexteks.com">login</a> to review your terms with the client.</p>
</div>
{{> footer}}
</div>

