
<div style="display: flex; justify-content: center; width: 600px !important;  align-items-center; margin: 0 auto;">
{{> header}}

<div style="font-family: Arial, sans-serif; line-height: 1.6; padding: 20px;  width: 600px !important; margin: 0 auto;">
    <h1>Hi {{ lastname }},</h1>
    <p>We detected a new login into your account</p>
    <p> If this was you no further action is required. If you do not recognize this activity, <a href="">reset your password</a> immediately.</p>

    <p>Security is important to us at ApexTeks, and we will inform you if we notice unusual account activity. We may be unable to recognize a login attempt when you have cleared your cookies or are logged in under private browsing mode.</p>

    <p>For tips on how to keep yourself safe online visit the <a>ApexTeks Security Center</a>. To add an extra layer of security, you can choose to receive a text message if we notice unusual activity like this in the future. Go to your <a>Password and Security settings</a> now to set up two-step verification.</p>

      <p>
        Thanks,<br/>
        The ApexTeks Team
      </p>
    </p>
</div>


{{> footer}}
 
   
</div>
