
<div style="display: flex; justify-content: center; align-items-center; width: 600px !important; margin: 0 auto !important;">
{{> header}}

<div style="font-family: Arial, sans-serif; line-height: 1.6; padding: 20px; width: 600px !important; margin: 0 auto !important;">
  <p>Hi there!,</p>
  <p>You are receiving this email because you (or someone else) have requested the reset of your account password.</p>
 <p>Please click <a href="{{root_url}}/user/{{resetToken}}/password">this link</a> to securely reset your password</p>
 <p>If you did not request this, please ignore this email, and your password will remain unchanged.</p
  <p>Best regards,</p>
  <p>The ApexTeks Team</p>
</div>


{{> footer}}
 
   
</div>
