
<div style="display: flex; justify-content: center; width: 600px !important;  align-items-center; margin: 0 auto;">
{{> header}}

<div style="font-family: Arial, sans-serif; line-height: 1.6; padding: 20px;  width: 600px !important; margin: 0 auto;">
 
    <h1>Hi {{ username}},</h1>
    <p>we are so happy to have you atapexteks, we founded ApexTeks because we wanted you to have a trusted place where you as a talent to have a place where you can meet clients who are ready to pay you for the service(s) you are willing to render.</p>
    <p>Please verify your email to continue using our services freely.</p>
    <div style="margin: 0 auto; display: flex; justify-content: center; align-items: center;">
       <a href="{{root_url}}/user/email/{{email}}/{{resetToken}}/verify/native">
        <button style="background: #4e79bc; color: white; padding: 10px 30px; border-radius: 5px; border: none; font-size: 14px;">Verify Email Now</button>
      </a>
    </div>
</div>


{{> footer}}
 
   
</div>
