
<div style="display: flex; justify-content: center; align-items-center;">
{{> header}}

<div style="font-family: Arial, sans-serif; line-height: 1.6; padding: 20px;">
  <p>Hi there!,</p>
  <p>Thank you for joining the ApexTeks waitlist!</p>
  <p>We’re thrilled to have you on board. Soon, you'll gain exclusive access to a world of job opportunities, tailored just for you.</p>
  <p>Here’s what you can expect:</p>
  <ul>
    <li><strong>Exclusive Job Listings:</strong> Get first dibs on new job postings.</li>
    <li><strong>Personalized Matches:</strong> Find jobs that match your skills and interests.</li>
    <li><strong>Networking Opportunities:</strong> Connect with top employers and industry professionals.</li>
  </ul>
  <p>Stay tuned! We’ll notify you as soon as the platform is live.</p>
  <p>In the meantime, feel free to reach out to us at <a href="mailto:support@apexteks.com">support@apexteks.com</a> if you have any questions.</p>
  <p>Best regards,</p>
  <p>The ApexTeks Team</p>
</div>


{{> footer}}
 
   
</div>
