
<div style="display: flex; justify-content: center; align-items-center;">
{{> header}}

<div style="font-family: Arial, sans-serif; line-height: 1.6; padding: 20px;">
 
 <h1>Welcome to ApexTeks {{ firstname }} {{ lastname }}</h1>
 <p>we are so happy to have you here, we founded ApexTeks because we wanted you to have a trusted place where you as a talent to have a place where you can meet clients who are ready to pay you for the service(s) you are willing to render.</p>
 <p>Please verify your email to continue using our services freely.</p>
 <div style="margin: 0 auto; display: flex; justify-content: center; align-items: center;">
  <a href="https://apexteks.com/login?email={{ email }}">
    <button style="background: #4e79bc; color: white; padding: 10px 30px; border-radius: 5px; border: none; font-size: 14px;">Verify Email Now</button>
  </a>
 </div>
</div>


{{> footer}}
 
   
</div>
